* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    max-width: 1500px;
    margin: 0 auto;
}

.header-panel {
    padding-bottom: 15px;
}

.main-nav-item {
    margin-top: 20px;
    display: inline-block;
    margin-right: 20px;
}

.main-nav-link {
    font: 20px 'Source Sans Pro';
    color: black;
}

.main-nav-link:hover {
    color: #b7b7b7;
    text-decoration: none;
}

.telephone-button {
    background-color: #ffd200;
    margin-top: 15px;
    width: 200px;
    font: 16px 'Source Sans Pro';
    letter-spacing: 3px;
    position: relative;
    padding-left: 25px;
    border-radius: 7px;
}

.fa-mobile {
    position: absolute;
    left: 17px;
    top: 11px;
}

span.tel {
    display: inline-block;
    border-bottom: 1px dashed black;
}

.telephone-button:hover {
    background-color: #f7cc04;
    cursor: pointer;
}

.header-image {
    background: url(../images/bg-header.jpg) no-repeat top center;
    height: 547px;
    position: relative;
    overflow: hidden;
}

.h1-header-heading {
    text-align: center;
    margin-top: 100px;
    font: 50px 'Source Sans Pro';
    font-weight: 300;
    letter-spacing: 1px;
}

.h3-header-heading {
    text-align: center;
    font: 22px 'Source Sans Pro';
}

.header-image-button {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px 20px;
    text-transform: uppercase;
    font: 16px 'Source Sans Pro';
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 7px;
}

.header-image-button:hover {
    background-color: rgba(222, 222, 222, .3);
}

.header-scheme {
    margin-top: 90px;
}

.work-scheme-heading {
    text-align: center;
    margin-bottom: 70px;
    font-size: 38px;
}

.header-scheme img {
    display: block;
    margin: 0 auto;
}

.header-scheme p {
    text-align: center;
    margin-top: 20px;
    font: 18px 'Source Sans Pro';
    margin-bottom: 100px;
}


/********************************ADVANTAGE*********************************/

.advantages {
    background-color: #f3f0e7;
    padding-bottom: 100px;
}

.advantages-heading {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 70px;
    font-size: 38px;
}

.advantages p {
    margin-top: 30px;
    text-align: center;
}

.advantages-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    text-transform: uppercase;
    font: 16px 'Source Sans Pro';
    background-color: #e11a27;
    border-radius: 7px;
    color: white;
    margin-top: 70px;
}
.advantages-button:hover {
    background-color: #d61926;
    color: white;
}
/****************************SOLUTIONS*******************************/
.solutions {
    padding-bottom: 100px;
}
.solutions .col-lg-4 .wrapper {
    margin: 0 auto;
}
.solutions-heading {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 70px;
    font-size: 38px;
}
.wrapper {
    width: 315px;
    background-color: #ffd200;
}
.solutions-wrapper-heading {
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro';
}
.solutions-main {
    width: 95%;
    background-color: #fff;
    margin: 0 auto;
    height: 250px;
    position: relative;
}
.solutions-list {
    padding-top: 20px;
    font: 18px 'Source Sans Pro';
}
.solutions-list li {
    background: url(../images/list-item-img.gif) no-repeat 0px 2px;
    padding-left: 30px;
    padding-bottom: 10px;
    list-style-type: none;
}
.solutions-price {
    font: 36px 'Roboto';
    padding-bottom: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.make-lightbook {
    text-align: center;
    font: 22px 'Source Sans Pro';
    padding: 10px 0px;
}

/*************************************TESTIMONIALS*********************************/

.testimonials {
    background-color: #f7f0e6;
    padding-bottom: 30px;
}
.testimonials-heading {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 70px;
    font-size: 38px;
}
.test-img {
    float: left;
    margin-left: 50px;
    border-radius: 50%;
}
.test-name, .test-job {
    margin-left: 40%;
    padding-top: 30px;
    font: 18px 'Source Sans Pro';
    width: 50%;
}
.test-job {
    padding-top: 0;
    font-size: 16px;
}
.test-text {
    clear: both;
    margin-top: 110px;
    margin-left: 50px;
    font: 16px 'Source Sans Pro';
    line-height: 1.5;
}

/*************************************TERMS*********************************/

.terms {
    margin-top: 90px;
}
.payment-wrapper {
    margin: 0 auto;
}
.terms-heading, .payment-heading, .shipping-heading{
    text-align: center;
    font-family: 'Roboto';
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffd200;
    border-radius: 10px 10px 0px 0px;
}

.terms-text, .payment-text, .payment-list, .shipping-text {
    padding: 15px 25px;
    text-align: center;
}
.payment-list {
    list-style: none;
    margin-top: -30px;
    line-height: 1.5;
}
/********************************FOOTER************************************/
.footer {
    margin-top: 90px;
    background-color: #ffd200;
}
.footer-col ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 50px;
    border-top: 1px solid black;
    padding-top: 15px;
    line-height: 2;
}
.footer-col ul a {
    color: #000;
}
.icons-col ul li {
    display: inline-block;
    margin-left: 16%;
}
.footer-copyright {
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}