@media screen and (max-width: 1200px) {
    .icons-col ul li {
        display: block;
        text-align: center;
        margin: 0;
        margin-bottom: 5px;
    }
    .test-name,
    .test-job {
        margin-left: 60%;
        width: 40%;
    }
}

@media screen and (max-width: 992px) {
    .test-name,
    .test-job {
        margin-left: 40%;
        width: 40%;
    }
    .icons-col ul li {
        display: inline-block;
        text-align: center;
        margin-bottom: 5px;
        margin-right: 5%;
    }
    .bottom-button {
        margin-top: 20px;
    }
    .footer {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    
/*    HEADER*/
    
    .main-nav {
        text-align: center;
    }
    .telephone-button {
        display: block;
        margin: 0 auto;
    }
    .header-scheme {
        margin-top: 20px;
    }
    .work-scheme-heading,
    {
        margin-bottom: 30px;
    }
    .header-scheme p {
        margin-bottom: 40px;
    }
    
/*    ADVANTAGES*/
    
    .advantages {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .advantages-heading {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
/*    SOLUTIONS*/
    
    .solutions-heading {
        margin-bottom: 60px;
        margin-top: 40px;
    }
    .wrapper {
        width: 285px;
    }
    .solutions-wrapper-heading {
        font-size: 22px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .solutions-main {
        width: 85%;
        height: 220px;
        position: relative;
    }
    .solutions-price {
        font: 28px 'Roboto';
        padding-bottom: 5px;
    }
    .make-lightbook {
        font-size: 16px;
    }
    .solutions {
        padding-bottom: 30px;
    }
    
/*    TESTIMONIALS*/
    
    .testimonials {
        padding-top: 30px;
    }
    .testimonials-heading {
        margin-top: 20px;
    }
    .test-img {
        float: none;
        margin: 0 auto;
    }
    .test-name,
    .test-job {
        text-align: center;
        margin: 0;
        padding-top: 30px;
        font: 18px 'Source Sans Pro';
        width: 100%;
    }
    .test-job {
        padding-top: 0;
        font-size: 16px;
    }
    .test-text {
        width: 100%;
        margin: 0;
        margin-top: 40px;
        font: 16px 'Source Sans Pro';
        line-height: 1.5;
        padding-bottom: 30px;
        text-align: center;
    }
    
/*    TERMS*/
    
    .terms {
        margin-top: 20px;
    }
    
/*    FOOTER*/
    
    .footer-col ul {
        list-style: none;
        padding-left: 0px;
        margin-top: 50px;
        border: none;
        padding-top: 15px;
        line-height: 2;
    }
}